.dropdown
  %button#dropdownMenu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
    Add Tournament
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "dropdownMenu1", role: "menu"}
    - @tournaments.each do |tournament|
      %li{role: "presentation"}
        -if @matchset_tournament_exist[@tournament_matches_hash[tournament.id]]
          %a{href: group_add_tournament_path(:tournament_id => tournament.id, :group_id => @group.id), role: "menuitem", tabindex: "-1"}#{tournament.name}