.container
    .w50.center-block
        %h2 Group list:
        %ul.list-group
        -if current_user
            -if current_user.groups.count == 0
                %h3 You don't belong to any group
            -else
                -current_user.groups.each do |group|
                    %li.list-group-item
                        =link_to group.name, group_path(group.id), method: :get