.container
	.w50.center-block

		%h1.text-center Add group
		=form_for(@group) do |f|
		
			.form-group
				=f.label "Group name: " 
				%br
				=f.text_field :name

				%br
		
				=f.submit "Add!", class: "btn, btn-primary"