.container
	.w50.center-block
		.page-header
			%h2 Add Group
		=form_for(@group) do |f|
		
			=f.text_field :name, placeholder: "Group name"

			%br
		
			%button.btn.btn-primary.btn-lg{type: "submit", id: "add_button"} Add!