.page-header
  %h2
    Group name:
    #{@group.name}

=render "sidepanel"
=render "invitefriend"
=render "available_matches_table"
=render "add_match_to_group"
=render "bets_table"
:javascript
  $(".second").pageslide({ direction: "right", modal: true });
