.container
    Zalogowany jako: 
    =current_user.email

    =link_to "wyloguj", destroy_user_session_path, method: :delete

.container
    .w50.center-block
        %h1 Nazwa grupy: 
        =@group.name 
        id: 
        =@id

        =link_to "sendmail", group_sendmail_path(params[:id])