.container  
  %h2 Welcome
  - if current_user
    %h3
      Czesc #{current_user.email}
  - else
    %h3 Siema gosciu !
    = link_to 'Zarejestruj sie', new_user_registration_path
    %br/
    = link_to 'Zaloguj sie!', 
      new_user_session_path   
