%h1 Tournaments
.panel.panel-default
  .panel-heading Available tournaments:
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th name
    - @tournaments.each do |tournament|
      %thead
        %tr
          %td 
            =link_to tournament.name, tournament_path(tournament.id)