.panel.panel-default
  .panel-heading Matches list::
  %table.table.table-striped
    %thead
      %tr
        %th
        %th 
        %th team 1
        %th team 2
        %th score 1
        %th score 2
        %th deadline
        %th= link_to 'evaluate all', evaluate_all_matches_path, method: :post
        %th
        =render "evaluate"
:javascript
  $(function() {
    $('.dtpicker').datetimepicker({
      language: 'pt-BR'
    });
  });