	
= form_for(@match, html: {class: "form-signin"}) do |m|
  %center
    %h2.form-signin-heading Add match
  = m.text_field :team_name_1, class: "form-control", placeholder: "Team 1"
  %br
  = m.text_field :team_name_2, class: "form-control", placeholder: "Team 2"
  %br
  = m.text_field :deadline, class: "form-control", "data-format" => "dd-MM-yyyy hh:mm:ss", :id => "datetimepicker", placeholder: "Date"
 
  %center
    %button.btn.btn-primary.btn-lg{type: "submit"} Add!
    %a.btn.btn-primary.btn-lg{role: "button", href: matches_path} Cancel

:javascript
  $(function() {
    $('#datetimepicker').datetimepicker({
      language: 'pt-BR'
    });
  });
