.body
  %h1 Authors:
  .well
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th name
          %th e-mail
        %thead
          %tr
            %td Artur Dudzik
            %td mail@example.com
          %tr
            %td David Bagdasaryan
            %td mail@example.com
          %tr
            %td Emil Rojewski
            %td mail@example.com
          %tr
            %td Kacper Kleczewski
            %td mail@example.com
          %tr
            %td Tytus Powroźnik
            %td mail@example.com