.body
  .panel.panel-default
    .panel-heading Authors:
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th name
          %th e-mail
        %thead
          %tr
            %td Artur Dudzik
            %td dudziaso@gmail.com
          %tr
            %td David Bagdasaryan
            %td davo.bagdasaryan@gmail.com
          %tr
            %td Emil Rojewski
            %td mail@example.com
          %tr
            %td Kacper Kleczewski
            %td repcakk@gmail.com
          %tr
            %td Tytus Powroźnik
            %td tytuspowroznik@gmail.com